[Desktop Entry]
Type=Application
Name=Start SurgicalAI
Comment=Start all SurgicalAI containers
Exec=bash -c "DISPLAY=:0 xhost +local: && cd /home/digioptics_am01/SurgicalAI01 && docker compose up -d"
Icon=utilities-terminal
Terminal=false
Categories=Application;
