[Desktop Entry]
Type=Application
Name=Start SurgicalAI
Comment=Start all SurgicalAI containers
Exec=bash -c "cd ~/SurgicalAI01 && bash start_detection.sh; exec bash"
Icon=utilities-terminal
Terminal=true
Categories=Application;
